# Application
PORT=8080
BASE_URL=/
ENVIRONMENT=development
SERVICE_API_KEY=<your-api-key>

# Puffer BFF (internal backend-for-frontend service)
PUFFER_BFF_URL=<puffer-bff-base-url>

# Blockchain
ETH_RPC_URL=<ethereum-rpc-url>
