# Application
PORT=8080
BASE_URL=<optional-force-base-url>
ENVIRONMENT=<development|staging|production>
SERVICE_API_KEY=<service-api-key>

# Integrations
SENTRY_DSN=<sentry-dsn>
DATABASE_URL=<connection-string>

# Blockchain
ETH_RPC_URL=<rpc-url>
